<#include "header.html">
<style>
#mainSel a {
	display: block;
}

#mainSel {
	width: 700px;
	text-align: center;
	font-size: 48px;
}

table input.pit, table input.pit1, table select.pit1 {
	width: 100%;
	padding: 10px;
	border: 0;
}

.calendar {
	width: initial;
	padding: 10px;
	border: 0
}

.changed:after {
	content: "";
	position: absolute;
	right: -8px;
	top: -3px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #f00;
	-ms-transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}

td.pz {
	position: relative;
	overflow: hidden
}
</style>
<div id="myForm" class="container">
	<ol class="breadcrumb">
		<li><a href="uploader">Donation</a></li>
		<li class="active">Book</li>
	</ol>
	<div class="panel panel-default">
		<div class="panel-heading">Book</div>
		<form id="uploadForm" method="post"
			action="${rc.getContextPath()}/uploader">
			<table class="table table-striped table-bordered">
				<tbody>
					<tr>
						<td>Name of the Book</td>
						<td colspan="2" class="pz"><input type="text"
							name="bookTitle" id="uploaderProductName" class="pit"
							required="required"></td>
					</tr>
					<tr>
						<td>Author Name</td>
						<td colspan="2" class="pz"><input type="text"
							name="authorName" id="uploaderModelName" class="pit" 
							required="required"></td>
					</tr>
					<tr>
						<td>Publisher Name</td>
						<td colspan="2" class="pz"><input type="text"
							name="publisherName" id="uploaderpublisherName" class="pit" 
							required="required"></td>
					</tr>
					<tr>
						<td>Genre</td>
						<td colspan="2" class="pz"><select>
								<option value="Science fiction">Science Fiction</option>
						</select></td>
					</tr>
					
					<tr>
						<td>ISBN</td>
						<td colspan="2" class="pz"><input type="text"
							name="isbn" id="uploaderISBN" class="pit" 
							required="required"></td>
					</tr>
					<tr>
						<td>Book Image</td>
						<td colspan="2" class="pz"><input type="file"
							name="productImage" id="uploaderProductImage" class="pit"></td>
					</tr>
					<tr>
						<td>Year</td>
						<td colspan="2" class="pz"><input type="text"
							name="year" id="uploaderReleaseDate" class="pit" ></td>
					</tr>
					<tr>
						<td>Edition</td>
						<td colspan="2" class="pz"><input type="text"
							name="edition" id="uploaderEdition" class="pit"></td>
					</tr>
					<tr>
						<td>Mrp Price</td>
						<td colspan="2" class="pz"><input type="text" name="mrpPrice"
							id="uploaderMrpPrice" class="pit" 
							required="required"></td>
					</tr>
					<tr>
						<td>No of Books</td>
						<td colspan="2" class="pz"><input type="text" name="piecesInStock"
							id="uploaderPiecesInStock" class="pit"></td>
					</tr>
					<tr>
						<td colspan="3" class="pz"><input type="submit" name=""
							id="submit" id="uploader" class="pit btn-primary" value="submit" /></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

<#include "footer.html">
