<style type="text/css">
.findmarker {
	border-top: 1px solid #e5e5e5;
	padding-top: 10px;
}

.f-spec-heading a {
	display: block;
	padding: 10px 15px;
}
</style>


<form>
	<h3>Filter</h3>

	<div class="panel-group">
		<div class="panel panel-default">
			<div class="f-spec-heading themeContentBg">
				<h4 class="panel-title themeColor">
					<a data-toggle="collapse" href="#collapse1">Brand</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse in">
				<div class="panel-body">
					<select class="form-control">
						<option>
							<input type="checkbox" value="">
							Add To Compare
						</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="f-spec-heading themeContentBg">
				<h4 class="panel-title themeColor">
					<a data-toggle="collapse" href="#collapse2">Price</a>
				</h4>
			</div>
			<div id="collapse2" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="form-group findmarker">
						<label for="email">Capacity</label> <b>3000</b> <input
							class="rangerBar" type="text" class="span2" value=""
							data-slider-min="10" data-slider-max="1000" data-slider-step="5"
							data-slider-value="[250,450]" /> <b>100,000</b>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="f-spec-heading themeContentBg">
				<h4 class="panel-title themeColor">
					<a data-toggle="collapse" href="#collapse3">Network</a>
				</h4>
			</div>
			<div id="collapse3" class="panel-collapse collapse in">
				<div class="panel-body">
					<select class="form-control" id="sel1">
						<option>2g</option>
						<option>3g</option>
						<option>4g</option>
						<option>LTE</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="f-spec-heading themeContentBg">
				<h4 class="panel-title themeColor">
					<a data-toggle="collapse" href="#collapse4">Memory</a>
				</h4>
			</div>
			<div id="collapse4" class="panel-collapse collapse in">
				<div class="panel-body">
					<div>
						<div class="form-group findmarker">
							<label for="email">RAM</label> <b>3000</b> <input
								class="rangerBar" type="text" class="span2" value=""
								data-slider-min="10" data-slider-max="1000" data-slider-step="5"
								data-slider-value="[250,450]" /> <b>100,000</b>
						</div>
						<div class="form-group findmarker">
							<label for="email">Internal Memory</label> <b>3000</b> <input
								class="rangerBar" type="text" class="span2" value=""
								data-slider-min="10" data-slider-max="1000" data-slider-step="5"
								data-slider-value="[250,450]" /> <b>100,000</b>
						</div>
						<div class="checkbox">
							<label><input type="checkbox" value="">Memory
								Slot</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="f-spec-heading themeContentBg">
				<h4 class="panel-title themeColor">
					<a data-toggle="collapse" href="#collapse5">Sim</a>
				</h4>
			</div>
			<div id="collapse5" class="panel-collapse collapse in">
				<div class="panel-body">
					<select class="form-control" id="sel1">
						<option>Single</option>
						<option>Dual</option>
						<option>More than two</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="f-spec-heading themeContentBg">
				<h4 class="panel-title themeColor">
					<a data-toggle="collapse" href="#collapse6">Display</a>
				</h4>
			</div>
			<div id="collapse6" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="form-group findmarker">
						<label for="email">Size</label> <b>3000</b> <input
							class="rangerBar" type="text" class="span2" value=""
							data-slider-min="10" data-slider-max="1000" data-slider-step="5"
							data-slider-value="[250,450]" /> <b>100,000</b>
					</div>
					<div class="form-group findmarker">
						<label for="email">Resolution</label> <b>3000</b> <input
							class="rangerBar" type="text" class="span2" value=""
							data-slider-min="10" data-slider-max="1000" data-slider-step="5"
							data-slider-value="[250,450]" /> <b>100,000</b>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="f-spec-heading themeContentBg">
				<h4 class="panel-title themeColor">
					<a data-toggle="collapse" href="#collapse7">Camera</a>
				</h4>
			</div>
			<div id="collapse7" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="form-group findmarker">
						<label for="email">Primary</label> <b>3000</b> <input
							class="rangerBar" type="text" class="span2" value=""
							data-slider-min="10" data-slider-max="1000" data-slider-step="5"
							data-slider-value="[250,450]" /> <b>100,000</b>
					</div>
					<div class="form-group findmarker">
						<label for="email">Secondary</label> <b>3000</b> <input
							class="rangerBar" type="text" class="span2" value=""
							data-slider-min="10" data-slider-max="1000" data-slider-step="5"
							data-slider-value="[250,450]" /> <b>100,000</b>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="f-spec-heading themeContentBg">
				<h4 class="panel-title themeColor">
					<a data-toggle="collapse" href="#collapse8">Sensors</a>
				</h4>
			</div>
			<div id="collapse8" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="checkbox">
						<label><input type="checkbox" value="">Accelerometer</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Gyro</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Compass</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Proximity</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Barometer</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Temperature</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Humidity</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Heart Rate</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Finger
							Print</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="f-spec-heading themeContentBg">
				<h4 class="panel-title themeColor">
					<a data-toggle="collapse" href="#collapse9">Connectivity</a>
				</h4>
			</div>
			<div id="collapse9" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="checkbox">
						<label><input type="checkbox" value="">Wifi</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Bluetooth</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">GPS</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">NFC</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Infrared</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="f-spec-heading themeContentBg">
				<h4 class="panel-title themeColor">
					<a data-toggle="collapse" href="#collapse10">Battery</a>
				</h4>
			</div>
			<div id="collapse10" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="form-group findmarker">
						<label for="email">Capacity</label> <b>3000</b> <input
							class="rangerBar" type="text" class="span2" value=""
							data-slider-min="10" data-slider-max="1000" data-slider-step="5"
							data-slider-value="[250,450]" /> <b>100,000</b>
					</div>
					<div class="form-group findmarker">
						<label for="email">Stand By</label> <b>3000</b> <input
							class="rangerBar" type="text" class="span2" value=""
							data-slider-min="10" data-slider-max="1000" data-slider-step="5"
							data-slider-value="[250,450]" /> <b>100,000</b>
					</div>
					<div class="form-group findmarker">
						<label for="email">Talk Time</label> <b>3000</b> <input
							class="rangerBar" type="text" class="span2" value=""
							data-slider-min="10" data-slider-max="1000" data-slider-step="5"
							data-slider-value="[250,450]" /> <b>100,000</b>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>


<link href="${rc.getContextPath()}/resources/css/bootstrap-slider.css"
	rel="stylesheet">
<script type='text/javascript'
	src="${rc.getContextPath()}/resources/js/modernizr.js"></script>
<script type='text/javascript'
	src="${rc.getContextPath()}/resources/js/bootstrap-slider.js"></script>
<script type='text/javascript'>
	$(document).ready(function() {
		$(".rangerBar").slider({});
	});
</script>
