	<div id="footer" class="container-fluid fs12 themeBorder">
		<div class="row">
			<div class="col-md-3 pull-left">
				<h4><a><span class="glyphicon glyphicon-fire"></span> Cheapest Gadget</a></h4>
			</div>
			<div class="col-md-8 text-uppercase pull-right">
				<ul class="list-inline text-right">
					<li><a href="">Home</a></li>
					<li><a href="">News</a></li>
					<li><a href="">Reviews</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Compare</a></li>
					<li><a href="">Tools</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">RSS</a></li>
					<li><a href="">Facebook</a></li>
					<li><a href="">Twitter</a></li>
				</ul>
				<ul class="list-inline text-right">
					<li>&copy;2000-2015</li>
					<li><a href="">CheapestGadget.com</a></li>
					<li><a href="">Contact US</a></li>
					<li><a href="">Advertising</a></li>
					<li><a href="">Privacy</a></li>
					<li><a href="">Terms of Use</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>