<!DOCTYPE html>
<html>
<head>
	<title>Donate Knowledge</title>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="${rc.getContextPath()}/resources/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="${rc.getContextPath()}/resources/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="${rc.getContextPath()}/resources/css/style.css">
	<script type="text/javascript">
		var contextPath='${rc.getContextPath()}';
		function readCookie(name) {
			var nameEQ = name + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') c = c.substring(1, c.length);
				if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
			}
			return null;
		}
		function areCookiesEnabled() {
			var r = false;
			if (readCookie("www.cheapestgadget.com") != null) {
				r = true;
			}
			if (!r) {
				document.getElementById("loginControl").style.visibility = "hidden";
			}
		    //return r;
		}
	</script>
	<script type="text/javascript" src="${rc.getContextPath()}/resources/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="${rc.getContextPath()}/resources/js/jquery.autocomplete.min.js"></script>
	<script type="text/javascript" src="${rc.getContextPath()}/resources/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="${rc.getContextPath()}/resources/js/customjs.js"></script>

</head>
<body>
	<div id="header" class="">
		<div id="header-1" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div id="header-1-1" class="row themeBoxShadow">
					<div class="col-md-3 col-sm-3">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span>
								<i class="fa fa-bars"></i>
							</button>
							<a class="navbar-brand" rel="home" href="${rc.getContextPath()}/" title="donateknowledge"><span class="glyphicon glyphicon-fire"></span> Donate Knowledge</a>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 ">
						<div class="inputForm collapse navbar-collapse navbar-ex1-collapse">
							<form class=" text-center" role="form" id="" action="${rc.getContextPath()}/search" method="get">
								<div class="input-group">
									<input type="text" class="form-control megaSearch" id="query" name="query" placeholder="Search here..." value="">
									<span class="input-group-btn">
										<button type="submit" class="btn themeColorBg"><span class="glyphicon glyphicon-search"></span></button>
									</span>
								</div>								
							</form>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div id="loginControl" class="collapse navbar-collapse navbar-ex1-collapse ">
							<#if (user)??>
								<ul class="nav navbar-nav navbar-right">
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											<span class="glyphicon glyphicon-user"></span>&nbsp;${user.firstName}<span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											<#if (user.userRole)?seq_contains("admin")>
												<li><a href="${rc.getContextPath()}/newpost"><span class="glyphicon glyphicon-edit"></span> New Post</a></li>
												<li><a href="${rc.getContextPath()}/uploader"><i class="fa fa-mobile"></i></i> Subscribe To</a></li>
											</#if>
											<li><a href="#"><span class="glyphicon glyphicon-bell"></span> Notifications</a></li>
											<li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
											<li><a href="${rc.getContextPath()}/claimPoints"><span class="fa fa-dollar"></span> Claim Points</a></li>
											<li role="presentation" class="divider"></li>
											<li><a href="${rc.getContextPath()}/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
										</ul>
									</li>
								</ul>
							<#else>
								<ul class="nav navbar-nav navbar-right">
									<li><a data-toggle="modal" href="#" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
									<li><a data-toggle="modal" href="#" data-target="#registerModal"><span class="glyphicon glyphicon-user"></span> Register</a></li>
								</ul>
							</#if>
							
						</div>
					</div>
				</div>
			</div>
			<div id="header-1-2" class="hidden-xs hidden-sm themeColorBg">
				<div class="">
					<ul class="cat-1 blockCenter list-inline">
						<li><a href="">Books</a>
							<ul class="cat-2 themeBoxShadow list-inline ">
								<li><a href="">SubMenu1</a>
									<ul class="cat-3 themeBorder">
										<div>Some Content</div>
									</ul>
								</li>
								<li><a href="">Publishers</a></li>
								<li><a href="">Categories</a></li>
								<li><a href="">SubMenu4</a></li>
								<li><a href="">SubMenu5</a></li>
							</ul>
						</li>
						<li><a href="">Popular</a>
							<ul class="cat-2 themeBoxShadow list-inline">
								<li><a href="">SubMenu1</a>
									<ul class="cat-3 themeBorder">
										<div>Some Content</div>
									</ul>
								</li>
								<li><a href="">SubMenu2</a></li>
								<li><a href="">SubMenu3</a></li>
								<li><a href="">SubMenu4</a></li>
								<li><a href="">SubMenu5</a></li>
							</ul>
						</li>
						<li><a href="">OS</a>
							<ul class="cat-2 themeBoxShadow list-inline">
								<li><a href="">SubMenu1</a>
									<ul class="cat-3 themeBorder">
										<div>Some Content</div>
									</ul>
								</li>
								<li><a href="">SubMenu2</a></li>
								<li><a href="">SubMenu3</a></li>
								<li><a href="">SubMenu4</a></li>
								<li><a href="">SubMenu5</a></li>
							</ul>
						</li>
						<li><a href="">New Arrival</a>
							<ul class="cat-2 themeBoxShadow list-inline">
								<li><a href="">SubMenu1</a>
									<ul class="cat-3 themeBorder">
										<div>Some Content</div>
									</ul>
								</li>
								<li><a href="">SubMenu2</a></li>
								<li><a href="">SubMenu3</a></li>
								<li><a href="">SubMenu4</a></li>
								<li><a href="">SubMenu5</a></li>
							</ul>
						</li>
						<li><a href="">Featured</a>
							<ul class="cat-2 themeBoxShadow list-inline">
								<li><a href="">SubMenu1</a>
									<ul class="cat-3 themeBorder">
										<div>Some Content</div>
									</ul>
								</li>
								<li><a href="">SubMenu2</a></li>
								<li><a href="">SubMenu3</a></li>
								<li><a href="">SubMenu4</a></li>
								<li><a href="">SubMenu5</a></li>
							</ul>
						</li>
						<li><a href="">Budget</a>
							<ul class="cat-2 themeBoxShadow list-inline">
								<li><a href="">SubMenu1</a>
									<ul class="cat-3 themeBorder">
										<div>Some Content</div>
									</ul>
								</li>
								<li><a href="">SubMenu2</a></li>
								<li><a href="">SubMenu3</a></li>
								<li><a href="">SubMenu4</a></li>
								<li><a href="">SubMenu5</a></li>
							</ul>
						</li>
						<li><a href="${rc.getContextPath()}/compare">Compare</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="registerModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><span class="glyphicon glyphicon-user"></span> SignUp</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div id="signup" class="col-md-6 col-sm-6">
								<form role="form" method="post" action="${rc.getContextPath()}/register">
									<div class="input-group form-group">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-user"></span>
										</span>
										<input type="text" class="form-control" id="fullname" placeholder="Full Name" name="fullName">
									</div>
									<div class="input-group form-group">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-envelope"></span>
										</span>
										<input type="email" class="form-control" id="email" placeholder="Enter Email Address" name="email">
									</div>
									<div class="input-group form-group">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-lock"></span>
										</span>
										<input type="password" class="form-control" id="pwd" placeholder="Password" name="password">
									</div>
									<div class="input-group form-group">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-lock"></span>
										</span>
										<input type="password" class="form-control" id="re-pwd" placeholder="Password Again">
									</div>
									<button type="submit" class="btn btn-success themeFormbutton">SignUp</button>
								</form>
							</div>
							<div id="socialSignup" class="col-md-6 col-sm-6 text-center">
								<form role="form">
									<div class="form-group">
										<span class="lead">Or Quick Signup via</span>
									</div>
									<div class="form-group">
										<button type="button" class="btn btn-primary themeFormbutton">Sign in with facebook</button>
									</div>
									<div class="form-group">
										<button type="button" class="btn btn-danger themeFormbutton">Sign in with googlePlus</button>
									</div>
									<div class="form-group">
										<button type="button" class="btn btn-info themeFormbutton">Sign in with twitter</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="loginModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><span class="glyphicon glyphicon-log-in"></span> Login</h4>
					</div>
					<div class="modal-body">
						<form role="form" action="${rc.getContextPath()}/login" method="post">
							<div class="input-group form-group">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-envelope"></span>
								</span>
								<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
							</div>
							<div class="input-group form-group">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-lock"></span>
								</span>
								<input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
							</div>
							<div class="checkbox">
								<label><input type="checkbox"> Remember me</label>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>		
	</div>
