<#include "header.html">
<style>
#mainSel a {
	display: block;
}

#mainSel {
	width: 700px;
	text-align: center;
	font-size: 48px;
}

table input.pit, table input.pit1, table select.pit1 {
	width: 100%;
	padding: 10px;
	border: 0;
}

.calendar {
	width: initial;
	padding: 10px;
	border: 0
}

.changed:after {
	content: "";
	position: absolute;
	right: -8px;
	top: -3px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #f00;
	-ms-transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}

td.pz {
	position: relative;
	overflow: hidden
}
</style>
<div id="myForm" class="container">
	<div class="panel panel-default">
		Congratulation you have successfully received the following books.
		Please share the secret code ${book.secertCode} with the Donator.
	</div>
</div>

<#include "footer.html">
